
/* Helper classes

Individual classes to quickly add common styling

***************************************************/



/* 
	Float an unordered list left so it is inline and remove bullets 
*/ 
.list-inline {list-style: none;}
.list-inline li {float:left;list-style-type: none;}



/* 
	Remove padding and/ or margin
*/
.nopm {padding:0;margin:0;}
.no-margin, .nom {margin:0;}
.no-padding, .no_p {padding:0;}



/* 
	Auto margins
*/
.auto-margin, .ma {margin-left:auto;margin-right:auto;}



/* 
	Spacing and gutter classes 
*/
.p {padding:1.5rem;}
.ptb {padding-top:1.5rem;padding-bottom:1.5rem;}
.plr {padding-left:1.5rem;padding-right:1.5rem;}
.pt {padding-top:1.5rem;}
.pr {padding-right:1.5rem;}
.pb {padding-bottom:1.5rem;}
.pl {padding-left:1.5rem;}
.pp {padding:3rem;}
.pptb {padding-top:3rem;padding-bottom:3rem;}
.pplr {padding-left:3rem;padding-right:3rem;}
.ppt {padding-top:3rem;}
.ppr {padding-right:3rem;}
.ppb {padding-bottom:3rem;}
.ppl {padding-left:3rem;}
.m {margin:1.5rem;}
.mtb {margin-top:1.5rem;margin-bottom:1.5rem;}
.mlr {margin-left:1.5rem;margin-right:1.5rem;}
.mt {margin-top:1.5rem;}
.mr {margin-right:1.5rem;}
.mb {margin-bottom:1.5rem;}
.ml {margin-left:1.5rem;}
.mm {margin:3rem;}
.mmtb {margin-top:3rem;margin-bottom:3rem;}
.mmlr {margin-left:3rem;margin-right:3rem;}
.mmt {margin-top:3rem;}
.mmr {margin-right:3rem;}
.mmb {margin-bottom:3rem;}
.mml {margin-left:3rem;}



/* 
	Clear
*/
.clear-right, .cr { clear: right; }
.clear-both, .cb { clear: both; }
.clear-left, .cl { clear: left; }



/* 
	Remove elements from display 
*/
.hide { display:none; }
html.js .js_hide { display:none; } 			/* hide if javascript is enabled */
html.no_js .js_hide { display:none; } 		/* hide if javascript is disabled */



/* 
	Floats 
*/
.float-left, .fl { float:left; }
.float-right, .fr { float:right; }



/* 
	Text alignment
*/
.alignleft, .al { text-align:left; }
.aligncenter, .ac { text-align:center; }
.alignright, .ar { text-align:right; }



/* 
	Image alignment
*/
img.alignleft, img.al { float:left; }
img.aligncenter, img.ac { display:block; margin:0 auto; }
img.alignright, img.ar { float:right; }


/* 
	hiding if javascript is enabled
*/
html.js .js_hide { display:none; }



/*
	Corners
 */
.round-corner-top-right,.rc-tr { -webkit-border-top-right-radius: 0.4rem; -khtml-border-radius-topright: 0.4rem; -moz-border-radius-topright: 0.4rem; border-top-right-radius: 0.4rem; }

.round-corner-bottom-right, .rc-br { -webkit-border-bottom-right-radius: 0.4rem; -khtml-border-radius-bottomright: 0.4rem; -moz-border-radius-bottomright: 0.4rem; border-bottom-right-radius: 0.4rem; }

.round-corner-top-left,.rc-tl { -webkit-border-top-left-radius: 0.4rem; -khtml-border-radius-topleft: 0.4rem;	-moz-border-radius-topleft: 0.4rem; border-top-left-radius: 0.4rem; }

.round-corner-bottom-left, .rc-bl { -webkit-border-bottom-left-radius: 0.4rem; -khtml-border-radius-bottomleft: 0.4rem; -moz-border-radius-bottomleft: 0.4rem; border-bottom-left-radius: 0.4rem; }

.round-corner-top, .rc-bl { -webkit-border-top-radius: 0.4rem; -khtml-border-radius-top: 0.4rem; -moz-border-radius-top: 0.4rem; border-top-radius: 0.4rem;  }

.round-corner-bottom, .rc-bl {  -webkit-border-bottom-radius: 0.4rem; -khtml-border-radius-bottom: 0.4rem; -moz-border-radius-bottom: 0.4rem; border-bottom-radius: 0.4rem;  }

.round-corners, .rc { -webkit-border-radius: 0.4rem; -khtml-border-radius: 0.4rem; -moz-border-radius: 0.4rem; border-radius: 0.4rem; }
